---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import SocialNetworks from '../components/SocialNetworks.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Proyects from '../components/Proyects.astro';
---

<Layout title="Portfolio">

	<main>

		<SectionContainer class="py-44 pb-25">
			<h1 class="text-white text-5xl font-bold flex justify-center flex-row"> párrafo descritivo </h1>
				<div class="flex justify-center">
					<Badge>Disponible</Badge>
				</div>
			<h2 class="text 2xl opacity-80 text-wrap">Experencia</h2>
		

			<nav class="flex gap-x-2 mt-4">
			
				<SocialNetworks href="https://linkedin.com">
					<LinkedInIcon class="w-6 h-6" /> LinkedIn
				</SocialNetworks>
				<SocialNetworks href="https://linkedin.com">
					<LinkedInIcon class="w-6 h-6">LinkedIn</LinkedInIcon>
				</SocialNetworks>		
			</nav>
		</SectionContainer>

		<SectionContainer id="Proyects">
			<Proyects></Proyects>
		</SectionContainer>







	
	</main>
</Layout>

